﻿@model HistoryViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "History Details";
}


<h2>History Detail</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>

        <tr>
            <th>Car Name</th>
            <td>@Model.Name</td>
        </tr>

        <tr>
            <th>Job</th>
            <td>@Model.Job</td>
        </tr>

        <tr>
            <th>Status</th>
            <td>@Model.Status</td>
        </tr> 
        <tr>
            <th>Detail</th>
            <td>@Model.Details</td>
        </tr>
    </tbody>
</table>

<div class="btn">
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="History" asp-action="History">Back</a>
</div>
