﻿@model HistoryViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Edit History Data";
}

<h2>Form Edit History</h2>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id">Id</label>
        <input asp-for="Id" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Job">Job</label>
        <input asp-for="Job" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Status">Status</label>
        <input asp-for="Status" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Details">Detail</label>
        <input asp-for="Details" class="form-control">
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-danger" role="button" asp-area="" asp-controller="History" asp-action="History">Back</a>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
