﻿@model FoodViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Detail Menu";
}
<h2>Detail Menu</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Nama Menu</th>
            <td>@Model.Name</td>
        </tr>

        <tr>
            <th>Jenis</th>
            <td>@Model.Category</td>
        </tr>
        <tr>
            <th>Harga</th>
            <td>@Model.Price</td>
        </tr>
    </tbody>
</table>
<div>
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Food" asp-action="List">Back</a>
</div>
