﻿@model FoodViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Edit Menu";
}

<h2>Edit Menu</h2>
<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id">Id</label>
        <input asp-for="Id" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Name">Nama Menu</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Category">Jenis</label>
        <input asp-for="Category" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Price">Harga</label>
        <input asp-for="Price" class="form-control">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
         <a class="btn btn-danger" role="button" asp-area="" asp-controller="Food" asp-action="List">>Back</a>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
