﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Rumah Makan Ampera(n)";
}

<h1>Rumah Makan Ampera(n)</h1>
<p>Merupakan rumah makan pertama yang menggunakan dotnet disini. Rumah makan ini mmemberikan kalian vibes yang kuat.....
    Untuk memesan kalian dapat melihat list makanan atau minuman berk=ikut :
</p>

<div class="align-content-center">
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Food" asp-action="List">Menu Masakan RM Ampera(n)</a>
</div>

