﻿@model CarViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Car Details";
}


<h2>Car Detail</h2>

<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>

        <tr>
            <th>Car Name</th>
            <td>@Model.Name</td>
        </tr>

        <tr>
            <th>Type</th>
            <td>@Model.Type</td>
        </tr>

        <tr>
            <th>Brand</th>
            <td>@Model.Brand</td>
        </tr> 
        <tr>
            <th>Price</th>
            <td>@Model.Price</td>
        </tr>
    </tbody>
</table>

<div class="btn">
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Car" asp-action="List">Back to List of Cars</a>
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Car" asp-action="Index">Back to Car Mania</a>
</div>
