﻿@model List<CarViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Car List";
}

<h2>Car List 2023</h2>

<table class="table table-responsive-md">
     <thead>
        <tr>
            <th>Id</th>
            <th>Cars Name</th>
            <th>Cars Type</th>
            <th>Cars Brand</th>
            <th>Cars PRice</th>
        </tr>
    </thead
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Type</td>
                <td>@item.Brand</td>
                <td>@item.Price</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                        <span class="material-icons">
                            edit
                        </span>
                    </a>
                    <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-success">
                        <span class="material-icons">
                            visibility
                        </span>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                        <span class="material-icons">
                            delete
                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
