﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <a class="btn btn-primary" role="button" asp-area="" asp-controller="Product" asp-action="Index">Product List</a>

        <a class="btn btn-primary" role="button" asp-area="" asp-controller="Absent" asp-action="List">Absent List</a>

        <a class="btn btn-primary" role="button" asp-area="" asp-controller="Car" asp-action="Index">Car Mania</a>

        <a class="btn btn-primary" role="button" asp-area="" asp-controller="Food" asp-action="Index">Rumah Makan Ampera(n)</a>

        <a class="btn btn-primary" role="button" asp-area="" asp-controller="Student" asp-action="Index">SMAN 01 MERCURRY</a>

        <a class="btn btn-primary" role="button" asp-area="" asp-controller="History" asp-action="Index">History List</a>
 
    </div>
</div>
