﻿@model AbsentViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Absensi Masuk";
}

<h2>Form Absensi Masuk</h2>

<form asp-action="Save" method="post">
    
    <div class="form-group">
        <label asp-for="EmployeeId">Id Karyawan</label>
        <input asp-for="EmployeeId" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Name">Nama</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="AbsentStartDate" class="control-label">Absen Masuk</label>
        <div class='input-group date' id='datetimepicker1'>
            <input asp-for="AbsentStartDate" class="form-control" />
                     <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                     </span>
    </div>
    </div>
    <div class="form-group">
        <label asp-for="Location">Lokasi</label>
        <input asp-for="Location" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Description">Keterangan</label>
        <input asp-for="Description" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
     $(function () {
       $('#datetimepicker1').datetimepicker();
    });
</script>
