﻿@model List<AbsentViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "List Absensi";
}

<h2>List Absensi</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id Karyawan</th>
            <th>Nama</th>
            <th>Absen Masuk</th>
            <th>Absen Keluar</th>
            <th>Lokasi</th>
            <th>Keterangan</th>
            <th>Absen Keluar</th>
        </tr>
    </thead
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmployeeId</td>
                <td>@item.Name</td>
                <td>@item.AbsentStartDate</td>
                <td>@item.AbsentEndDate</td>
                <td>@item.Location</td>
                <td>@item.Description</td>
                <td>
                    <a asp-action="Out" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                        <span class="material-icons">
                            edit
                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Absent" asp-action="Index">Absen Masuk</a>

</div>

