﻿@model AbsentViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Absensi Keluar";
}

<h2>Form Absensi Keluar</h2>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Name">Nama</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="AbsentStartDate" class="control-label">Absen Masuk</label>
        <div class='input-group date' id='datetimepicker1'>
            <input asp-for="AbsentStartDate" class="form-control" readonly />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="AbsentEndDate" class="control-label">Absen Keluar</label>
        <div class='input-group date' id='datetimepicker1'>
            <input asp-for="AbsentEndDate" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
