﻿@model ProductViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Product Details";
}

<h2>Product Detail</h2>


<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Product Name</th>
            <td>@Model.Name</td>
        </tr>

        <tr>
            <th>Category</th>
            <td>@Model.Category</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>@Model.Price</td>
        </tr>
    </tbody>
</table>
<div class="btn float-right">
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Product" asp-action="Index">Back</a>
</div>
