﻿@model ProductViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Product Edit Data";
}

<h2>Form Edit Product</h2>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id">Product Id</label>
        <input asp-for="Id" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Name">Product Name</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Category">Product Category</label>
        <input asp-for="Category" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Price">Product Price</label>
        <input asp-for="Price" class="form-control">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
