﻿@model StudentViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Student Data";
}

<h2>Form Add a Student</h2>

<form asp-action="Save" method="post">
    <div class="form-group">
        <label asp-for="Id">Id</label>
        <input asp-for="Id" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Address"> Address </label>
        <input asp-for="Address" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Hobby">Hobby</label>
        <input asp-for="Hobby" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Motto">Motto</label>
        <input asp-for="Motto" class="form-control">
    </div

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
