﻿@model StudentViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Student Details";
}


<h2>Student Detail</h2>

<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>

        <tr>
            <th>Car Name</th>
            <td>@Model.Name</td>
        </tr>

        <tr>
            <th>Address</th>
            <td>@Model.Address</td>
        </tr>

        <tr>
            <th>Hobby</th>
            <td>@Model.Hobby</td>
        </tr>
        <tr>
            <th>Motto</th>
            <td>@Model.Motto</td>
        </tr>
    </tbody>
</table>

<div class="btn">
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Student" asp-action="List">Back to List of Students</a>
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Student" asp-action="Index">Back to SMAN 01 Mercurry</a>
</div>
