﻿@model StudentViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Edit Student Data";
}

<h2>Form Edit Student List</h2>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id">Id</label>
        <input asp-for="Id" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Name">Car Name</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Address">Address</label>
        <input asp-for="Address" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Hobby">Hobby</label>
        <input asp-for="Hobby" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Motto">Motto</label>
        <input asp-for="Motto" class="form-control">
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-danger" role="button" asp-area="" asp-controller="Student" asp-action="List">Back</a>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
