﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "SMAN 01 Mercurry";
}

<h2>SMAN 01 Mercurry</h2>
<p>
    Merupakan Sekolah yang....
</p>
<div>
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Student" asp-action="List">List of Students</a>
</div>
