﻿@model List<StudentViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "List of Student";
}

<h2>Student List0</h2>

<table class="table table-responsive-md">
     <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Hobby</th>
            <th>Motto</th>
        </tr>
    </thead
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.Hobby</td>
                <td>@item.Motto</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                        <span class="material-icons">
                            edit
                        </span>
                    </a>
                    <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-success">
                        <span class="material-icons">
                            visibility
                        </span>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                        <span class="material-icons">
                            delete_outline
                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
